[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "docker-novnc"]
	path = docker-novnc
	url = https://github.com/theasp/docker-novnc.git
